body{

background:#f4f7fb;

}

.vacaciones-header{
    background: linear-gradient(135deg,#0f172a,#1e3a8a);

    margin-top: 20px;

    padding: 20px;

    border-radius: 25px;

    color: white;

    box-shadow: 0 15px 40px rgba(0,0,0,.18);
}

.vac-card{

background:white;

border-radius:20px;

padding:30px;

box-shadow:0 15px 30px rgba(0,0,0,.08);

transition:.35s;

cursor: pointer;

}

.vac-card:hover{

transform:translateY(-8px);

box-shadow:0 20px 45px rgba(0,0,0,.15);

}

.vac-card h2{

font-size:42px;

font-weight:700;

color:#0d6efd;

}

.vac-card h4{

font-weight:700;

}

.vac-card small{

color:#6c757d;

text-transform:uppercase;

}

.acciones{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 15px 30px rgba(0,0,0,.08);

}

.btn{

border-radius:12px;

padding:14px;

font-weight:600;

}



.estado{

    display:inline-flex;
    align-items:center;

    padding:6px 14px;

    border-radius:30px;

    font-size:.82rem;

    font-weight:600;

}

.estado i{

    font-size:8px;

}

.estado-finalizado{

    background:#fde8ea;
    color:#c62828;

}

.estado-vigente{

    background:#e7f8ec;
    color:#198754;

}

.header-gradient{
    background: linear-gradient(135deg, #001f4d 0%, #003b7a 55%, #0d6efd 100%);
    color: #fff;


}
